<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="anamapp.project">

    <application
            android:name=".bean.App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activities.MenuNurseActivity">
        </activity>
        <activity android:name=".activities.SearchNurse">
        </activity>
        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.SearchPatientActivity"/>
        <activity android:name=".activities.MenuActivity"/>
        <activity android:name=".activities.SymptomsMenuActivity"/>
        <activity android:name=".activities.SignUpActivity"/>
        <activity android:name=".activities.ListNursesActivity"/>
        <activity android:name=".activities.registerNewEmployeeActivity"/>
        <activity android:name=".activities.CheckList"/>
        <activity android:name=".activities.HospitalProfile"/>
        <activity android:name=".activities.SearchPatientResultActivity"/>
        <activity android:name=".activities.PatientActivity"/>
        <activity android:name=".activities.RegisterPatientActivity"/>
    </application>

</manifest>